image: node:22 # use nodejs v14 LTS

cache:
  paths:
  - node_modules/

before_script:
  - ln -sf /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
  # - npm install hexo-cli -g
  # - npm install
  # - yarn global add hexo-cli
  # - yarn
  - yarn set version berry
  - yarn config get enableGlobalCache
  - yarn add hexo-cli
  - yarn dlx hexo-cli
  - yarn install

pages:
  script:
    # - hexo generate
    - yarn dlx hexo clean
    - yarn dlx hexo generate
  artifacts:
    paths:
      - public
  only:
    - source

